<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>页面未找到</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        h2 {
            text-align: center;
        }
        div {
            margin: auto;
            width: 900px;
            height: 506px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>页面找不到了</h2>
    <br/>
    <div>
        <img src="http://img1.imgtn.bdimg.com/it/u=3136626573,2216251976&fm=27&gp=0.jpg" alt="页面找不到">
    </div>
</body>
</html>