<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统发生错误</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        h2 {
            text-align: center;
        }
        div {
            margin: auto;
            width: 900px;
            height: 506px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>系统内部发生错误</h2>
    <br/>
    <div>
        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1527867449356&di=7c156282a9ae2afe95b6aa55f013b10a&imgtype=0&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01ffb357f8b533a84a0d304f938f95.png" alt="页面找不到">
    </div>
</body>
</html>